@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,400;1,500&family=Roboto:ital,wght@0,500;1,400&display=swap");
body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* font-size: 1rem;
    font-weight: 400;
    line-height: 1.5; */
    color: #6b708d;
    background-color: #e5e5e5;
}


/** HEADERS H1, H2, H3, H4, H5, H6 */

h1 {
    font-family: Roboto;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #292e47;
}

h3 {
    font-family: "Roboto";
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
    color: #292e47;
}

p {
    color: #6b708d;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
}

a {
    color: #6b708d;
    text-decoration: none;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
}

.cover {
    object-fit: cover;
}

.btn-primary {
    background-color: #072ac8 !important;
}

.btn-link {
    font-family: "Roboto";
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 38px;
    color: #6b708d;
}

nav .a {
    font-size: 1.063rem;
    font-weight: 200;
}

nav .menu-center {
    width: 18.438rem;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.logo {
    width: 3.75rem;
    height: 1.125rem;
}

.contact-button {
    width: 150px;
    height: 52px;
    line-height: 40px;
}

header {
    margin-top: 2.5rem;
    height: auto;
    width: 68.688rem;
}

.header {
    align-content: center;
}

.container {
    width: 100%;
    height: auto;
    /* padding-right: 2rem;
    padding-left: 2rem;
    margin-right: auto;
    margin-left: auto; */
}

.slide-welcome {
    margin-top: 70px;
    height: 650px;
}

.slide-welcome p {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #6b708d;
}

._slide {
    background-image: url("../img/hero_image.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 570px;
    height: 650px;
}

.slide-card {
    width: 190px;
    height: 216px;
    border-radius: 30px;
    background-color: #fff;
    padding: auto;
    box-shadow: 0px 46.5686px 93.1373px rgba(0, 0, 0, 0.1);
}

.slide-card-shadow {
    box-shadow: 0px 38.7755px 77.551px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.slide-card-spacer {
    width: 190px;
    height: 216px;
}

.bullets {
    margin: 0;
    padding: 0;
    text-align: center;
}

.bullets li {
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    cursor: pointer;
    display: inline-block;
    float: none;
    height: 10px;
    width: 10px;
}

.bullets li:last-child {
    margin-right: 0;
}

.bullets li {
    border-radius: 1000px;
    margin-right: 0.4rem;
}

.text-neutral {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 0.815rem;
    line-height: 1.063rem;
    color: #292e47;
}

.text-card-back {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-size: 0.699rem;
    line-height: 1.063rem;
    color: #9b9b9a;
}

.text-card-p {
    font-family: "Roboto";
    font-size: 0.75rem;
    line-height: 14px;
    text-align: center;
    color: #6b708d;
}

.customer-brands {
    margin-top: 130px;
}

.recent-projects {
    margin-top: 112px;
    margin-bottom: 3rem;
}

.cards-container {
    margin-top: 99px;
}

.card {
    width: 340px;
    height: 444px;
    box-shadow: 0px 28.7755px 37.551px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #292e47;
}

.card-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 150%;
    color: #6b708d;
}

.cards-container .btn-link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    color: #072ac8;
    margin-top: 27px !important;
}

.customer-testimonials {
    margin-top: 13rem;
    width: 1320px;
    height: 622px;
    background-image: url("../img/background-testimonials.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
    margin-bottom: 10rem;
}

.customer-testimonials p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 38px;
    text-align: center;
    color: #ffc600;
}

.our-services {
    margin-bottom: 10rem;
}

.our-services .card {
    padding: 1.5rem;
    height: auto;
}

.our-services .card-img-top {
    width: 80px;
    margin-left: 1.2rem;
}

.help-subscribe {
    margin-top: 5rem;
    width: 1320px;
    height: 500px;
    background-color: #ffc600;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    padding: 2rem;
    margin-bottom: 10rem;
}

.help-subscribe h3 {
    color: #292e47;
}

.form-box {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    margin-top: 2.6rem;
    width: 100%;
}

.help-subscribe .subscribe-field {
    height: 80px;
    width: 393px;
    border-radius: unset;
    font-family: "Roboto", "FontAwesome";
    font-size: 1.063rem;
    line-height: 150%;
    text-align: left;
    color: #292e47;
    background-color: white !important;
}

.btn-subscribe {
    width: 198px;
    border-radius: unset;
    height: 80px;
    margin-left: 2rem;
    background: #072ac8;
}

.footer {
    height: auto;
    width: 100%;
    padding: 4rem;
}

.footer a {
    color: #6b708d;
    font-size: 1.065rem;
}

.footer p {
    font-family: "Roboto";
    margin-top: 0.8rem;
    line-height: 26px;
    color: #6b708d;
}

.one-project {
    margin-top: 120px;
    margin-bottom: 180px;
}

.one-project h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    color: #292e47;
}

.one-project h2 {
    font-family: Roboto;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #6b708d;
}

.one-project p span {
    color: #292e47 !important;
    width: auto;
}

.one-project p {
    color: #6b708d;
    width: auto;
}

.texto-largo {
    font-size: 20px;
    line-height: 30px;
    color: #6b708d;
    text-align: left;
}

.project-shadow {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.other-projects {
    margin-top: 100px;
    margin-bottom: 100px;
}

form input {
    height: 70px;
    background: #6b708d10 !important;
}

form textarea {
    background: #6b708d10 !important;
}